/* all components CSS */
.container {
    display: flex;
    flex-direction: column;
}

.align-text {
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
}

/* App.jsx */

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 75%;
    align-self: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

.form-result-displayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-self: center;
    text-align: center;
    background-color: rgb(248, 221, 186)
}

.form-result-displayer-text {
    margin: 15px;
}

/* Nav Button */
.nav-button {
    background-color:#46827a; 
    margin: 10px;
    margin-top: 30px;
    color: #fff; 
    border: none;
    border-radius: 12px; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: 600; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 40%;
}

.nav-button:hover {
    background-color: #5d9a91; 
    transform: translateY(-1px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.nav-button:active {
    background-color: #356863; 
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS for MyForm.jsx */

.choose {
    width: 27%;
    margin-right: 0px;
    height: 150px;
    display: flex;
    align-items: center; 
}

.choice input[type="radio"] {
    display: none;
}

.choice {
    width: 15%;
    display: flex;
    padding: 8px 8px;
    background-color: #f0f0f0;
    color: #000000;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    justify-content: center;
}

.choice:hover {
    background-color: #e6e6e6;
    border-color: #888;
    transform: translateY(-1px); 
}

/* Active state when the radio is checked */
.choice:has(input[type="radio"]:checked)  {
    background-color: #6A5ACD; 
    border-color: #6A5ACD;
    color: white;
    transform: translateY(1px); 
    box-shadow: none;
}


.start-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: lightgray;
    width: 80%;
    margin: 10px;
}

.start-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.start-game {
    width: 40%;
}

/* CSS for Questions.jsx */
.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.question-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    width: 80%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio {
    display: flex;
    padding: 12px 20px;
    background-color: #f0f0f0;
    color: #000000;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 15%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    align-content: center;
    justify-content: center;
}

.true-false {
    padding: 15px 25px;
    border-radius: 10px;
    width: 30%;
}

/* Hover state for the button */
.custom-radio:hover {
    background-color: #e6e6e6;
    border-color: #888;
    transform: translateY(-1px); 
}

/* Active state when the radio is checked */
.custom-radio:has(input[type="radio"]:checked)  {
    background-color: #6A5ACD; /* Slate Blue */
    border-color: #6A5ACD;
    color: white;
    transform: translateY(1px); 
    box-shadow: none;
}

/* CSS for EndScreen */
.end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.end-buttons {
    width: 90%;
    margin-top: 40px;
}

.end-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.end-buttons-container > button {
    width: 40%;
    margin: 30px;
}


/* CSS for Review.jsx */
.review-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    opacity: 1;
    width: 90%;
    padding: 10px;
    height: 200px;
}

#reset {
    height: 60px;
}

.review-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.correct {
    background-color: rgba(144, 238, 144, 0.404);
}

.incorrect {
    background-color: rgba(240, 128, 128, 0.53);
}   

.display-review-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    padding-left: 0px;
    margin-bottom: 0px;
}

.review-option {
    width: 21%;
    display: flex;
    padding: 8px 8px;
    background-color: #f0f0f0;
    color: #000000;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 40px;
}

.true-false-review {
    width: 40%;
}

.right {
    box-shadow: 0px 0px 20px rgb(0, 178, 12);
    color: rgb(0, 153, 28);
}

.right.selected {
    background-color: green;
    color: rgb(215, 255, 218);
}

.wrong.selected {
    box-shadow: 0px 0px 30px rgb(255, 0, 0);
    color: red;
}

@media (max-width: 768px) {
    .start-form {
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }
    .choose {
        width: 80%;
        justify-content: center;
        height: 50px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .choice {
        width: 80%;
        margin: 6px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0px;
    }

    .choose > h3 {
        font-size: 20px;
    }

    .question-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 10px; 
        
    }
    .question-form > * {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .true-false {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        width: auto;
    }
}


@media (max-width: 960px) {
    .review-container {
        height: 220px;
    }
    .review-option {
        font-size: smaller;
    }
    .review-container > h2 {
        font-size: 20px
    }
    .question-container > h2 {
        font-size: 20px;
    }
}

@media (max-width: 468px) {
    .display-review-options{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 12px; 
    }
    .display-review-options > * {
        display: flex;
        align-items: center;
        padding: 0px;
        font-size: 10px;
        justify-content: center;
        width: auto;
    }
    .review-container {
        height: auto;
    }
    .review-container > h2 {
        font-size: 16px
    }
}
