/* all components CSS */
.container {
    display: flex;
    flex-direction: column;
}

/* Nav Button */
.nav-button {
    background-color:#46827a; 
    margin: 10px;
    color: #fff; 
    border: none;
    border-radius: 12px; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: 600; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
    background-color: #5d9a91; 
    transform: translateY(-1px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.nav-button:active {
    background-color: #356863; 
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS for MyForm.jsx */

.start-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: lightgray;
    width: 80%;
    margin: 10px;
}

.start-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.start-game {
    width: 40%;
}

/* CSS for Questions.jsx */
.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.question-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    width: 80%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.nav-container > button {
    width: 40%;
    height: 60px;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio {
    display: flex;
    padding: 12px 20px;
    background-color: #f0f0f0;
    color: #000000;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 15%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    align-content: center;
    justify-content: center;
}

.true-false {
    padding: 15px 25px;
    border-radius: 10px;
    width: 30%;
}

/* Hover state for the button */
.custom-radio:hover {
    background-color: #e6e6e6;
    border-color: #888;
    transform: translateY(-1px); 
}

/* Active state when the radio is checked */
.custom-radio:has(input[type="radio"]:checked)  {
    background-color: #6A5ACD; /* Slate Blue */
    border-color: #6A5ACD;
    color: white;
    transform: translateY(1px); 
    box-shadow: none;
}

/* CSS for Review.jsx */
.correct {
    color: green;
}

.incorrect {
    color: red;
}   

.right.selected {
    color: green;
}

.wrong.selected {
    color: rgb(228, 24, 88);
}

.right.not-selected {
    color: lightgreen;
}