html, body, header {
    margin: 0;
    padding: 0;
}

html {
    background-color: antiquewhite;
    align-items: center;
}

body {
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    align-items: center;
    display: flex;
}

h1 {
    font-family: 'Merriweather', serif;
}

h4 {
    font-size: 20px;
}

img {
    width: 100px;
    height: auto;
    margin: 20px 10px 10px 20px;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    padding: 10px;
    margin-top: 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}

@media (max-width: 568px) {
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.2em;
    }
}